$color_white:#fff;
$color_black:#000;
$color_font:#262626;

$color_blue:#225bee;

$color_gray1:#777;
$color_gray2:#7f7f7f;
$color_gray3:#f7f7f7;
$color_gray4:#ccc;
$color_gray5:#f8f8f8;
$color_gray6:#b4b4b4;
$color_gray7:#f1f1f1;
$color_gray8:#666;

$color_green1:#0dd083;
$color_primary:#00582c;
$color_olive:#42883d;

$color_pink: #f52e6d;


.color_white{color:#fff;}
.color_black{color:#000;}
.color_primary{color:#00582c;}
.color_olive{color:#42883d;}
.color_blue{color:#225bee;}

.color_gray1{color:#777;}

.bg_white {background:#fff;}